.sidebar-wrapper h6 {
    color: #6d6d6d;
}

.sidebarLink {
    color: #727272;
    text-decoration: none;
}
.sidebarLink:hover {
    color: #727272;
    text-decoration: underline;
}

.sidebar-wrapper h6 {
    text-align: left;
}